
    <div class="list">
        <div class="reservations">
            <div class="reservations-title">
                Booked!!!!
            </div>
            <div class="reservations-body">
                <ul>
                    <li>Name: {{profile.name}}</li>
                    <li>Email: {{profile.email}}</li>
                    <li>Phone Number: {{profile.number}}</li>
                    <li>Address: {{profile.address}}</li>
                    <li>Pet Name: {{profile.pet_name}}</li>
                    <li>Breed: {{profile.breed}}</li>
                    <li>Daily Activity: {{profile.day-activity}}</li>
                    <li>Food Allergies: {{profile.food_allergies}}</li>
                 </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
