
    <div class="list">
        <div class="reservations">
            <div class="reservations-title">
                Booked!!!!
            </div>
            <div class="reservations-body">
                 <div>Name: {{profile.name}}</div>
                 <div>Email: {{profile.email}}</div>
                 <div>Phone Number: {{profile.number}}</div>
                 <div>Address: {{profile.address}}</div>
                 <div>Pet Name: {{profile.pet_name}}</div>
                 <div>Breed: {{profile.breed}}</div>
                 <div>Daily Activity: {{profile.day-activity}}</div>
                 <div>Food Allergies {{profile.food_allergies}}</div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
